@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.special-ff {
  font-family: "Shrikhand", sans-serif;
}

main section {
  display: flex;
  flex-direction: column;
}
main section h2 {
  margin: 10px;
}
main section .liste-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  padding-bottom: 50px;
}
main section .liste-restaurant img {
  border-radius: 25px 25px 0px 0px;
  height: 95%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .liste-restaurant span {
  display: grid;
  grid-template-columns: 1fr;
}

.cards-restaurant ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 39px 50px;
  text-align: center;
  background-color: #F6F6F6;
}
.discover button {
  margin-top: 20px;
  border-radius: 25px;
  padding: 10px;
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement h2 {
  margin: 10px;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement ul li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
  text-align: center;
  height: 72px;
  position: relative;
}
.fonctionnement ul li span {
  position: absolute;
  top: 40%;
  left: -10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement ul li .fa-solid {
  padding-right: 15px;
}

.main-img {
  width: 100%;
  height: 100%;
}

main section a {
  position: relative;
  height: 90%;
}

.nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 29px;
  width: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  background-color: #99e2d0;
}

.heart-container {
  position: absolute;
  bottom: 15%;
  right: 20px;
  font-size: 22px;
}

.heart-restaurant {
  position: absolute;
  top: 30%;
  right: 20px;
  font-size: 22px;
}

.heart-container .full-heart,
.heart-restaurant .full-heart {
  display: none;
  opacity: 0.2;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.heart-container:hover .heart-restaurant:hover .empty-heart {
  display: none;
}

.heart-container:hover .heart-restaurant:hover .full-heart {
  display: inline-block;
  animation: full 0.5s;
}

@keyframes full {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.main-restaurant {
  border-radius: 15px;
  transform: translateY(-45px);
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer img {
  filter: contrast(0);
  filter: brightness(100);
  width: 33%;
  margin-bottom: 16px;
}
footer .text-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer a {
  color: white;
}
footer .fa-solid {
  width: 20px;
  height: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 100vw;
  margin-top: 15px;
}
.title-container .fa-arrow-left {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-left: 10px;
}
.title-container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.special-ff {
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.restaurent-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
}

.restaurant-heart {
  position: absolute;
  right: 10%;
  top: 1%;
}

.menu {
  background: #F6F6F6;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.button-container button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 186px;
}

.checkmark {
  position: absolute;
  right: 0px;
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  color: white;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
  font-size: 0;
  border-radius: 0px 15px 15px 0px;
}

.dish-card:hover .checkmark {
  animation-name: checkbox;
  width: 80px;
  font-size: 30px;
}

.menu-price {
  transition: all 0.5s;
}

.dish-card:hover .menu-price {
  transform: translateX(-80px);
}

.dish-card {
  width: 80%;
  transition: all 0, 5s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  width: 90%;
  position: relative;
}

.menu-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  transition: all 0.5s;
}

.dish-card:hover .menu-text {
  width: 55%;
}

.menu-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-text h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes checkbox {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes menu {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
.entree .dish-card {
  animation: menu 0.5s ease-in-out;
}

.plat .dish-card {
  animation: menu 1s ease-in-out;
}

.dessert .dish-card {
  animation: menu 1.5s ease-in-out;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  visibility: hidden;
  animation: loader 3s;
}

.loader-spinner {
  position: absolute;
  top: 50%;
  left: 40vw;
  border: 16px solid #99e2d0;
  border-top: 16px solid #008766;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  animation: spin 3s forwards;
  opacity: 0.8;
  z-index: 3;
}

@keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@media (min-width: 767px) {
  .cards-restaurant ul {
    display: grid;
    justify-items: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cards-restaurant ul a {
    height: 210px;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 180px;
    margin-right: 180px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px;
    margin-top: 30px;
    align-items: flex-end;
    height: 114px;
    gap: 30px;
    padding: 30px;
  }
  footer img {
    display: flex;
    justify-content: flex-end;
    width: 138px;
    height: 27px;
    margin: 0;
  }
  footer .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 76px;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
}
.location .fa-location-dot {
  padding-right: 10px;
}/*# sourceMappingURL=main.css.map */